extends ../layout

block content

    .f2g-form.well
        h1 Edit User

        form#edit-user-form(method="post")
            .input-group
                span.input-group-addon Email
                input.form-control(type="text", name="email", value=email)

            .input-group
                span.input-group-addon Password
                input.form-control(type="password", name="password", value=password)

            .input-group
                span.input-group-addon Confirm Password
                input.form-control(type="password", name="confirmpass", value=password)

            .input-group
                span.input-group-addon Name
                input.form-control(type="text", name="name", value=name)

            .form-group
                input.btn.btn-primary.btn-block(type="submit")
                a.btn.btn-danger.btn-block(href="/users/") Cancel